@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 157 100% 95%;
  --foreground: 157 5% 10%;
  --card: 157 50% 90%;
  --card-foreground: 157 5% 15%;
  --popover: 157 100% 95%;
  --popover-foreground: 157 100% 10%;
  --primary: 157 100% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 157 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 119 30% 85%;
  --muted-foreground: 157 5% 35%;
  --accent: 119 30% 80%;
  --accent-foreground: 157 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 157 5% 90%;
  --border: 157 30% 50%;
  --input: 157 30% 27%;
  --ring: 157 100% 80%;
  --radius: 0.5rem;
}
.dark {
  --background: 157 50% 10%;
  --foreground: 157 5% 90%;
  --card: 157 50% 10%;
  --card-foreground: 157 5% 90%;
  --popover: 157 50% 5%;
  --popover-foreground: 157 5% 90%;
  --primary: 157 100% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 157 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 119 30% 25%;
  --muted-foreground: 157 5% 60%;
  --accent: 119 30% 25%;
  --accent-foreground: 157 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 157 5% 90%;
  --border: 157 30% 27%;
  --input: 157 30% 27%;
  --ring: 157 100% 80%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
